@import '~@fluentui/react/dist/sass/References.scss';

.titulo {
  font-size: 28px;
  font-weight: bold;
  color: #1fb286;
  margin-bottom: 16px;
}

.tablaWrapper {
  overflow-y: auto;
  margin-top: 24px;
}

.tabla {
  border-collapse: collapse;
  margin-bottom: 32px;
  text-align: center;
  margin-top: 24px;

  th {
    background-color: #1fb286;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
  }

  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
}

.coincidencias {
  margin-top: 32px;

  h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 16px;
  }

  strong {
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
  }
}

.seleccionar{
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.boton {
  background-color: #009266;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #0fa276;
  }
}

.tituloCoincidencias {
  font-size: 22px;
  color: #1fb286;
  font-weight: bold;
  margin-top: 40px;
  text-align: left;
  border-bottom: 2px solid #1fb286;
  padding-bottom: 6px;
}

.noCoincidencias {
  font-style: italic;
  color: #777;
  margin-top: 10px;
}

.listaCoincidencias {
  margin-top: 16px;
  padding-left: 0;
  list-style-type: none;
}

.bloqueMateria {
  background-color: #f6fdfc;
  border: 1px solid #1fb28655;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 16px;
}

.nombreMateria {
  color: #0b8067;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.bloqueMateria ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}
