@import '~@fluentui/react/dist/sass/References.scss';

.seleccionarCarrera {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.titulo {
  text-align: center;
  color: #119877;
}

.descripcion {
  text-align: center;
}

.dropdown {
  margin-top: 1em;
}

.boton {
  background-color: #119877;
  border: none;

  &:hover {
    background-color: darken(#119877, 10%);
  }

  &:disabled {
    background-color: #c8c8c8 !important; // gris claro
    color: #666 !important;
    cursor: not-allowed;
  }
}
