@import '~@fluentui/react/dist/sass/References.scss';



.main {
  padding: 24px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #1fb286;
  margin-bottom: 16px;
}

.checkboxList {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.btnAccion {
  background-color: #009266;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 15px;

  &:hover {
    background-color: #0fa276;
  }
}

.mensaje {
  margin-top: 12px;
  font-weight: bold;
}
